.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 1042px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.footer, .header {
  flex: 0 0 auto;
}
.main {
  flex: 1 1 100%;
  padding: 45px 0;
}
.container {
  width: 100%;
  padding: 0 36px;
  position: relative;
  &_type-2 {
    padding: 0 62px;
  }
  &_type-3 {
    padding: 0 86px;
  }
}

@media screen and (max-width:999px) {
  .container {
    padding: 0 20px;
  }
}