doctype html
html
  head
    meta(charset="utf-8")
    block title 
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    //styles
    link(rel="stylesheet" href="styles/common.min.css")
    //font
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')
  body
    .background.contain.repeat.lazy(data-src='img/e44f8b99d7e377bc1e92a4727962019d.jpeg')
    .page-wrapper
      include ../blocks/header
      main.main
        block content
      include ../blocks/footer
      include ../blocks/popup
    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    //scripts
    script(src="js/common.min.js")