footer.footer
  .container
    .footer-info
      .footer-info__container
        .footer-info__section
          h6.footer-info__title
            span.text-colored Карта 
            | проезда
          .footer-map.lazy-map
            img.lazy-map__loader(src="img/svg/loader.svg", alt="loader")
            iframe.lazy-map__map.footer-map__map.lazy(data-src="https://yandex.ua/map-widget/v1/?um=constructor%3A220f0a8daa2ab605044280b8a09e3b75fabf9f930e83525541ca16dab911ca40&amp;source=constructor")
        .footer-info__section
          h6.footer-info__title
            span.text-colored Наши 
            | контакты
          ul.footer-info__list
            li.footer-info__item ООО «ДБРЗ» 
            li.footer-info__item  г. Димитровград, Мулловское шоссе, 49а 
            li.footer-info__item  
              span.text-colored Диспетчер: 
              | +7(84235)4-58-12
            li.footer-info__item   
              span.text-colored Факс: 
              | +7(84235)4-58-13 
            li.footer-info__item  
              span.text-colored Менеджер: 
              | +7-927-823-4358
            li.footer-info__item  
              span.text-colored E-Mail: 
              | d-brz@yandex.ru
    nav.footer-nav
      ul.footer-nav__list
        li.footer-nav__item
          a(href="#").footer-nav__link.active Главная
        li.footer-nav__item
          a(href="#").footer-nav__link Каталог продукции
        li.footer-nav__item
          a(href="#").footer-nav__link Доставка
        li.footer-nav__item
          a(href="#").footer-nav__link Лаборатория
        li.footer-nav__item
          a(href="#").footer-nav__link Заявка
        li.footer-nav__item
          a(href="#").footer-nav__link Контакты
      a(href="#").button.button_style-1.small.active Мобильный завод

