.request-block
  h6.request-block__title.text-title-request Оставить заявку
  span.request-block__text Наш менеджер свяжется с вами<br> и уточнит детали заказа
  form(action="#").request-form
    .request-form__item
      input(type="text" placeholder="Ваше имя" required).input
    .request-form__item
      input(type="text" placeholder="Телефон или e-mail" required).input
    .request-form__item
      button.button.button_style-2 Обратный звонок